# Case Study 4 - Testing of Hypothesis

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [2]:
df=pd.read_csv('Sales_add.csv')

In [3]:
df.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

## Descriptive Analysis

In [4]:
df.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

## 1. The company wishes to clarify whether there is any increase in sales after stepping into digital marketing

Hypothesis:

  Ho:The sales before and after stepping into digital marketing are same
  
  
  
  Ha:The sales after stepping into digital marketing is more.
  
  
   Alpha: 0.05

In [6]:
T_score,p_value=stats.ttest_rel(df['Sales_After_digital_add(in $)'],df['Sales_before_digital_add(in $)'],alternative='greater')

In [8]:
print('p-value is:',p_value)

p-value is: 3.168333502287889e-11

1.Null hypothesis is rejected as p-value < 0.05


2.Alternative hypothesis holds true ie the sales after stepping into digital marketing is more.

##  2.  The company needs to check whether there is any dependency between the features “Region” and “Manager”.

Ho : The 2 features “Region” and “Manager” which are to be compared are independent.

Ha : The 2 features are dependent.

alpha : 0.05

In [10]:
crosstab = pd.crosstab(df["Region"],df["Manager"])
crosstab

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [11]:
from scipy.stats import chi2_contingency
c, p, dof, expected = chi2_contingency(crosstab)
print('chi square statistic:',c)
print('pvalue:',p)
print('degrees of freedom:',dof)

chi square statistic: 3.050566893424036
pvalue: 0.5493991051158094
degrees of freedom: 4

1.p-value greater than 0.05,so we cannot reject null hypothesis ie the variables region and manager are independent

2.No relationship between region and manager of company.

3.Critical value for degree of freedom=4 and level of significance = 0.05 is 9.488.


4.chi square statistic less than critical value,so we cannot reject null hypothesis.